{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  {% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе:
                  <img style="margin-right: 50px"
                       src="https://sun9-west.userapi.com/sun9-71/s/v1/if2/xjOS280FKbuwIum33Mir0Zq_kOu6GUNIrjhLmDL0crsJOkLHhT_eyZw_0spkIIRQQ20EmezzUUIBNdkYT4aWxbWj.jpg?size=960x1280&quality=95&type=album"
                       width=100% alt="">
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Дмитрий, Краснодар, 27 лет.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>Учусь backend разработке ради нанесения непоправимой пользы
              обществую.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}