<div class="card">
  <div class="card-body">
    <div class="h2">
      {{ author.first_name }}<br>
      {{ author.last_name }}
    </div>
    <div class="h3 text-muted">
      {{ author }}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="h6 text-muted">
          Подписчиков: {{ author.following.count }} <br/>
          Подписан: {{ author.follower.count }}
        </div>
      </li>
      <li class="list-group-item">
        <div class="h6 text-muted">
          Всего записей: {{ author.posts.count }}
        </div>
      </li>
    </ul>
    </ul>
  </div>
</div>