{% load thumbnail %}
<div class="card mb-3 mt-1 shadow-sm">
  <div class="card-body">
    <article>
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
    <p class="card-text">
      {% if author %}
        <strong class="d-block text-gray-dark">
          Автор: {{ post.author.get_full_name }}
        </strong>
      {% else %}
        <strong class="d-block text-gray-dark">

          <a href="{% url 'posts:profile' post.author %}">@{{ post.author.username }}</a>
        </strong>
      {% endif %}
    </p>
      <p>
        {{ post.text|linebreaksbr|truncatechars:500}}
      </p>
    </article>
    <a class="btn btn-sm text-muted"
       href="{% url 'posts:post_detail' post.id %}" role="button">
      Показать полностью
    </a>
    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        {% if not group %}
          {% if post.group.slug %}
            <a href="{% url 'posts:group_posts' post.group.slug %}">#{{ post.group }}</a>
          {% else %}
            <span
                style='color: blue'>Этой публикации нет ни в одном сообществе.</span>
          {% endif %}
        {% endif %}
        {% if not forloop.last %}
          <hr>{% endif %}
      </div>
      <small class="text-muted">Дата
        публикации: {{ post.pub_date|date:"d M Y" }}</small>
    </div>
  </div>
</div>
